.invisible-msg {
    display: none;
}

.success-msg {
    padding: 0.2em;
    margin: 0.5em;
    background-color: greenyellow;
    color: black;
    display: inline-block;
}

.error-msg {
    padding: 0.2em;
    margin: 0.5em;
    background-color: firebrick;
    color: white;
    display: inline-block;
}

.x-btn {
    margin: 0em;
    padding: 0em;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
}

.wordlist {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style-type: none;
}

.wordlist li {
    padding: 0.1em;
    margin: 0.1em;
    display: inline-block;
}

.wordlist-box {
    margin: 0.2em;
}

.new-word {
    padding: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    background-color: green;
    border-radius: 0.4em;
    display: inline-block;
}

.existing-word {
    padding: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    background-color: red;
    border-radius: 0.4em;
    display: inline-block;
}

.thrown-word {
    padding: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    background-color: grey;
    border-radius: 0.4em;
    display: inline-block;
}

.user-info {
    padding: 0.4em;
}

.profile-pic {
    padding: 0;
    margin: 0;
    height: 1.5em;
    vertical-align: middle;
    border-radius: 50%;
}

.header {
    margin-bottom: 1em;
}

.header h1 {
    margin-bottom: 0;
}
