{% import "macros.jinja2" as macros %}

<div class="user-info">
  Current user: {{ current_user.name }}
  {% if current_user.picture %}
  <img src="{{ current_user.picture }}" class="profile-pic">
  {% endif %}
  <a href="{{ url_for('logout') }}">Logout</a>
</div>

<form method="post" action="/add">
  Enter Dutch Text:
  <input type="text" name="input-text" autofocus>
  <input type="submit" value="go">
</form>

<div id="msgbox" class="invisible-msg">
  {{ msg }}
</div>

{% if new_words or existing_words or thrown_words %}
<div>
  {{ macros.word_list('New words', 'new-word', new_words) }}
  {{ macros.word_list('Existing words', 'existing-word', existing_words) }}
  {{ macros.word_list('Thrown-away words', 'thrown-word', thrown_words) }}
</div>
{% endif %}
<div>
  You know
  <a href="/list">
    <span id="wordcount">{{ nwords }}</span> word{{ "s" if nwords != 1 else "" }}
  </a>.
</div>
