{% extends "base.html" %}

{% import "macros.jinja2" as macros %}

{% block body %}
<div class="d-flex justify-content-center">
  {% if user_name %}
  <div class="display-4">Shared Words for: {{ user_name }}</div>
  {% else %}
  <div class="display-4">The Words You Know</div>
  {% endif %}
</div>

<div class="d-flex justify-content-center">
  <div id="msgbox" class="invisible-msg">
    {{ msg }}
  </div>
</div>

<div>
  <ul class="wordlist">
    {% for word in words|sort %}
    <li>{{ macros.word_box(word, 'new-word', readonly) }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
