{% macro word_box(word, class) %}
<span class={{ class }}>
  {{ word }}

  {% if class != "thrown-word" %}
  <button class="x-btn"
          onclick="remove_word('{{ word | urlencode}}', this.parentNode.parentNode)"
          aria-label="Remove word from database.">
    {# wrap in span with aria-hidden=true so screen readers won't read it. #}
    <span aria-hidden="true">&times;</span>
  </button>
  {% endif %}
</span>
{% endmacro %}

{% macro word_list(title, class, words) %}
<div class="card m-1 p-0">
  <div class="card-header p-1 bg-dark text-light">{{ title }}</div>
  <div class="card-body p-1">
    <ul class="wordlist">
    {% for word in words|sort %}
      <li>{{ word_box(word, class) }}</li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
